.header-block {
    height: 50px;
    background-color: #790269;
}
.header-phone {
  color: #fff;
  font-weight: 700;
  margin: 10px 0px 0px 0px;
  display: inline-block;
}
.header-list li {
  display: inline-block;
  margin: 10px 0px 0px 0px;
  color: #fff;
  font-weight: 700;
}
.header-list li:hover {
  border-bottom: 2px solid #fff;
}
.header-text {
  text-align: center;
}
.main-photo {
 margin: 20px 0px 0px 0px;
}
.top-bg {
  background-color: #eeeeee;
}
h5.card-title {
  display: inline;
  margin: 15px 0px 0px 10px;
}
.name{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.name2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.about_text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* .about_hr{
  width: 40%;
  text-align: center;
} */
.form_text {
  margin-top: 20px;
  text-align: center; 
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input {
   
height: 35px;
width: 100%;
border: none;
border-bottom: 2px solid black;
outline: none;
font-size: 25px;
}
#_textarea{
width: 100%;
border: none;
border-bottom: 2px solid black;
outline: none;
font-size: 15px;
}

.form {
  padding: 15px;
  }
  
  .form-item {
  margin-top: 30px;
  vertical-align: top;
  position: relative;
  }
  
  .form-input {
    width: 100%;
    height: 40px;
    padding: 5px 15px;
  }
  
  .form-label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 0;
    line-height: 40px;
    transition: .3s;
    font-size: 20px;
  }
  
  .form-input:focus~.form-label,
  .form-input:not(:focus):valid~.form-label {
    top: -30px;
    font-size: 17px;
  }
  .button1 {
    
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
  } 
  .button1:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
  .button1:active {  background: linear-gradient(#f59500, #f5ae00) #f59500; }
  
  /* скрываем чекбоксы и блоки с содержанием */
.hide {
  display: none; 
}
.hide + label ~ div{
  display: none;
}
/* оформляем текст label */
.hide + label {
  padding: 0;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
  border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: block; 
  color: rgb(95, 94, 94);
}

.price-text-top {
  margin: 20px 0px 0px 0px;
}
.price-text-top, .price-text {
  font-size: 30px;
  font-weight: 1000;
  background-color: #800080;
  color: #fff;
  text-align: center;
  padding: 5px 0px 3px 0px;
  font-family: serif;  
}
.price-block {
  height: 380px;
  border: 2px solid #800080;
  padding: 7px;
}

.fa {
  padding: 14px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 1.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.backtotop
{
    position: fixed;
    left: 92%;
    top: 92%;
    width: 80px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #790269;
    font-size: 17px;
    color: #fff;
    padding: 5px;
    z-index: 1;
}
.backtotop:hover
{
    padding: 7px;
    color: #fff;
    text-decoration: none;
}
.backtotop-hidden
{
    display: none;
}

.footer-block {
  height: 55px;
  background-color: #790269;
  margin: 20px 0px 0px 0px;
}
.footer-email, .footer-email a, .footer-text {
  font-size: 20px;
  color: #fff;
  margin: 10px 0px 0px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}